#result{
  display: none;
  width:90%;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
#shareresult{
  width:90%;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.resultname{
  font-size:2.4rem;
}
.resultDesc{
  font-size:2rem;
}
.resultDesc a{
  padding:10px; 
  background-color:rgba(255,255,255,0.1); 
  border-radius: 30px; 
  border-style: solid;
  font-size:1.2rem;
  margin:0.5rem;
}
.resultDesc a:hover{
  padding:10px; 
  background-color:rgba(0,0,0,1);
  border-color:#000;
}
#shareresult > h1{
  display: none;
}
#result > h1{
  display: none;
}
.resultname{
  display: none;
}